.git
__pycache__/
*.pyc
.wsl_mamba_env/
.vscode/
.idea/

data/rfam_fasta/
data/Rfam.fa/

processed/
processed_rfam_large/
processed_rfam_100/
processed_rfam_500/
processed_rfam_1669/
processed_rfam_1000/
processed_rfam_near_full_1024/
!processed_rfam_near_full_v2_1_min20_1024/
processed_rfam_near_full_v2_1_min20_1024/*
!processed_rfam_near_full_v2_1_min20_1024/label_mapping.json

runs/
runs_rfam_large/
runs_rfam_100/
runs_rfam_500/
runs_rfam_1669/
runs_rfam_1000/
runs_rfam_near_full_1024/
runs_ensemble*/
runs_rfam_2238_bigru/*
!runs_rfam_2238_bigru/bigru_run/
!runs_rfam_2238_bigru/bigru_run/best_model.pt

reports/
predictions/*
!predictions/.gitkeep
uploads/*
!uploads/.gitkeep

.flask_*.log
*.log
*.html
!.dockerignore
!requirements.txt
